@use 'base' as *;

.header {
  width: 90%;
  margin: 4rem auto 7rem;
}

.logo {
  height: 4.5rem;
}

// main
.main {
  width: 90%;
  margin: 0 auto;

  display: flex;
  overflow: hidden;

  @media screen and (max-width: 64em) {
    flex-direction: column;
    width: 85%;
  }
}

.section-mockup {
  flex: 0 0 50%;

  @media screen and (max-width: 64em) {
    text-align: center;
  }

  &__img {
    width: 100%;
    opacity: 0;
    animation: moveIn 1s 0.9s forwards cubic-bezier(0.175, 0.885, 0.32, 1.075);

    @media screen and (max-width: 64em) {
      width: 90%;
    }

    @media screen and (max-width: 25em) {
      width: 100%;
      animation: moveImg-phone 1s 0.4s forwards
        cubic-bezier(0.175, 0.885, 0.32, 1.075);
    }
  }
}
@keyframes moveImg-phone {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }

  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    transform: translateX(-40rem) rotateX(-20deg);
  }

  100% {
    transform: translateX(0) rotateX(0);
    opacity: 1;
  }
}

.section-intro {
  flex: 1;
  position: relative;
  margin: 4rem 0 0 7rem;

  @media screen and (max-width: 64em) {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 12rem;
  }

  @media screen and (max-width: 25em) {
    padding-bottom: 16rem;
  }

  &__text {
    font-size: 2rem;
    color: rgb(255 255 255 /0.8);
    margin-bottom: 4rem;
    opacity: 0;
    animation: moveIntro 1s 0.7s forwards
      cubic-bezier(0.175, 0.885, 0.32, 1.075);

    @media screen and (max-width: 64em) {
      font-size: 2.8rem;
      width: 85%;
      margin: 0 auto 6rem;
    }

    @media screen and (max-width: 25em) {
      width: 100%;
      font-size: 2.2rem;
      margin-bottom: 5rem;
      padding: 0 1.5rem;
    }
  }
}

// button
.cta {
  &:link,
  &:visited {
    font-size: 2rem;
    color: $violet;
    background-color: #fff;
    padding: 1.5rem 7rem;
    border-radius: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    visibility: hidden;
    opacity: 0;
    animation: moveIntro 1s 1.4s forwards
      cubic-bezier(0.175, 0.885, 0.32, 0.975);
    transition: all 0.2s;

    @media screen and (max-width: 25em) {
      padding: 1.5rem 10rem;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &:hover,
  &:active {
    background-color: $soft-magenta;
    color: #fff;
  }
}

.social-media {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;

  @media screen and (max-width: 64em) {
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 3rem;
  }

  .icon-box {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: moveIntro 1s 1.4s forwards
      cubic-bezier(0.175, 0.885, 0.32, 1.075);

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }
}
.icon {
  width: 1.75rem;
  fill: #fff;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active,
  &:hover {
    fill: $soft-magenta;
  }
}
